:root {
  --primary-text-color: #000000;
  --accent-color: #2196f3;
  --primary-contact-color: #757575;
  --primary-white-color: #ffffff;
  --background-color: #ffffff;
  --hero-text-color: #ffffff;
  --color-text-title: #212121;
}
/* ----------  GENERAL SETTINGS  ---------- */
body {
  font-family: Roboto, sans-serif;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.no-link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ----------  PAGE HEADER  ---------- */

.header {
  background-color: #ffffff;
}

/* ----------  LOGO  ---------- */

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--primary-text-color);
}

.name-company-web {
  color: #2196f3;
}

/* ----------  NAVIGATION  ---------- */

.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .current {
  color: var(--accent-color);
}

/* ---------- CONTACT  ---------- */

.header-contact .link {
  color: var(--primary-contact-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contact .link:hover,
.header-contact .link:focus {
  color: var(--accent-color);
}

/* ----------  HERO  ---------- */

.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--hero-text-color);
}

.button {
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #188ce8;
}

/* ----------  FEATURE  ---------- */

.feature {
}

.feature-list {
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text-title);
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ----------  WORK  ---------- */

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--color-text-title);
}

.work-list {
}

/* ----------  TEAM  ---------- */
.team {
  background-color: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--color-text-title);
}
.team-list {
}
.team-card {
  background-color: #ffffff;
}
.team-card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.27;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--color-text-title);
}
.work-position {
  font-size: 16px;
  line-height: 1.27;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: #757575;
}

/* ----------  FOOTER  ---------- */

.footer {
  background-color: #2f303a;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.address {
  font-style: normal;
}
.footer .link {
  color: rgba(255, 255, 255, 0.6);
}
.footer .logo,
.footer .maps {
  color: #ffffff;
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

/* ----------     PORTFOLIO.HTML    ---------- */
/* ПОРТФОЛИО */

.portfolio-page {
}
/* ----------  FILTER BUTTON  ---------- */

.filter-list {
}

.btn-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* text-align: center; */
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
}

.filter-list .btn-filter:hover,
.filter-list .btn-filter:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* ----------  PROJECTS  ---------- */

.projects {
  background-color: #ffffff;
}

.projects-list {
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-text-title);
}

.project-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
